.navbar_cont {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 32px;

  img {
    width: 107px;
    height: 107px;
  }

  .links_cont {
    .burger_menu_icon {
      display: none;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 40px;

      li {
        a {
          color: white;
          text-decoration: none;
          font-size: 22px;
          font-weight: bold;
          transition: all linear 0.1s;

          &.active {
            color: #49b649;
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .navbar_cont {
    justify-content: space-between;
    padding: 0 32px;

    .links_cont {
      .burger_menu_icon {
        display: block;
        width: 60px;
        height: 60px;
        border: 2px solid #49b649;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: relative;

        span {
          width: 70%;
          height: 4px;
          background-color: white;
        }
      }

      .active {
        span {
          position: absolute;
        }

        span:first-child {
          rotate: 45deg;
        }

        span:nth-child(2) {
          display: none;
        }

        span:last-child {
          rotate: -45deg;
        }
      }

      .inactive_links {
        display: none;
      }

      .active_links {
        width: 100%;
        border-top: 2px solid #49b649;
        border-bottom: 2px solid #49b649;
        flex-direction: column;
        position: absolute;
        z-index: 99999999;
        top: 107px;
        left: 0;
        background-color: black;
        padding: 24px 0px;
      }
    }
  }
}
